## Análisis de accidentes viales (Proceso de ETL)

1) Cargar librerías

In [5]:
import pandas as pd
import unicodedata

2) Cargar conjunto de datos

In [6]:
# Cargamos el archivo CSV en un DataFrame
xlsx_file = '/content/Accidentalidad_Vial_2017_-_2021.csv'
df = pd.read_csv(xlsx_file)

# 1. Buscar duplicados
duplicados = df[df.duplicated()]
numero_duplicados = len(duplicados)

print(f"Número de duplicados encontrados: {numero_duplicados}")

Número de duplicados encontrados: 0

<ipython-input-6-2b57fb77a3fe>:3: DtypeWarning: Columns (32,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(xlsx_file)

3) Formatear nombres de municipios para asegurar compatibilidad con el archivo geojson usado para visualizar el mapa de Colombia.

In [ ]:
def limpiar_y_mayusculas(texto):
    texto_limpio = ''.join((c for c in unicodedata.normalize('NFD', texto) if unicodedata.category(c) != 'Mn'))
    return texto_limpio.upper()

# Aplicar la función a la columna "territorial" del DataFrame
df['territorial'] = df['territorial'].apply(limpiar_y_mayusculas)

# Cambiar "GUAJIRA" a "LA GUAJIRA" en la columna "territorial" NARINO
df['territorial'] = df['territorial'].replace('GUAJIRA', 'LA GUAJIRA')
df['territorial'] = df['territorial'].replace('NARINO', 'NARIÑO')

## 4) Remover la fechas que se salen del rango de fecha dado por los metadatos del conjunto de datos.

In [ ]:

# filtrar las filas fuera del rango de tiempo
df = df[df['fecha_acc'].dt.year > 2016]

## 5) Asegurar a consistencia de los datos de la columna "dia_semana_acc".

In [ ]:


#cambiar valores "miercoles" a "Miércoles" y 'sabado' a 'Sábado'
df['dia_semana_acc'] = df['dia_semana_acc'].replace('miercoles', 'Miércoles')
df['dia_semana_acc'] = df['dia_semana_acc'].replace('sabado', 'Sábado')